/*css*/
/****Fixed parts****/
  #fixedRight
  {     box-sizing: border-box;
        direction: rtl !important;
	text-align:right !important;
        position: fixed;
        right: 0;
        top: 50%;
        border:3px solid rgb(0,96,44);
        border-left: 3px solid rgb(0,96,44);
        border-radius: 24px 0px 0px 25px;
        font-size: 1.2rem;
        font-weight: 600;
      display: none;
      z-index: 99999;

  }
  #fixedLeft
  { box-sizing: border-box;
    direction: rtl !important;
    position: fixed;
    left: 0;
    top: 50%;
    font-size: 1.2rem;
    font-weight: 600;
    border:3px solid rgb(0,96,44);
    border-radius: 0px 24px 24px 0px;  
    display: none;
    z-index: 99999;
}
.qrImgSm

{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 14px 14px 14px 14px;
}
.qrImgLg
{
    width: 160px;
    height: 160px;
}
  .rsideLinks
  {
      font-size: 1rem;
      border: none !important;
      margin-top: 1rem;
      display: none;
  }
  .rsideLink i
  {
      margin-left: 0.5rem;
      font-size: 0.7rem;
      margin-top: 0.5rem;
  }
  .lsideLinks
  {
      display: none;
      margin-top: 1rem;
  }
  .border-white
  {
      border-color: white;
  }
  .hLine
  {
      border:solid 2px rgb(0,96,44) ;
      margin-bottom: 1rem;
  }
  #fixedRight:hover .rsideLinks
  {
      display: block;
  }
  #fixedLeft:hover .lsideLinks
  {
      display:block;
  }
  .rsideLink
  {
      margin-bottom: 0.8rem;
  }
/********************/
/*******Header*******/
.Home
{
    box-sizing: border-box;
    direction: rtl !important;
    font-family: 'Open Sans', sans-serif;
    height: 42rem;
}
.Home .sliderLayer
{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}
.Home .Slide_1
{
    position: relative;
    height: 100%;
	
    background:url('../images/slider1.jpg');
    background-size: 100% 100%;
}
.Home .Slide_2
{
    height: 100%;
    background-image:url('../images/slider1.jpg');
    background-size: 100% 100%;
}
.Home .Slide_3
{
    height: 100%;
    background-image:url('../images/slider1.jpg');
    background-size: 100% 100%;
}
.Home img
{
    height: 110px;
}
.home .carousel-item
{
    height: 100% !important;
}
.Home .navbar a,.Home .navIcon
{
    color: rgb(0,96,44);
    font-size: 1.3rem !important;
}
.navIcon
{
    margin-top:1rem!important; 
}
.Home .desc
{
    color: white;
    text-align: right;
}
.Home .desc h1
{
    font-size: 3.2rem !important;
    font-weight: 600;
}
.Home .desc h2
{
    font-size: 2.5rem !important;
    font-weight: 400;
}
.Home .desc p
{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: 300;
}
.home .desc
{
    position: relative;
}
.text-white
{
    color: white !important;
}
.text-green
{
    color:rgb(0,96,44) !important;
}
.home .headFooterButtons
{
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
}
.headFooterButtons a
{
    cursor: pointer;
    font-size: 1.3rem !important;
    background-color: white !important;
    padding:1rem 1rem;
    transition: background-color 0s,color 0s;
}
.headFooterButtons a:hover
{
    background-color:rgb(186, 156,92) !important;
    color: white !important;
}
.headFooterButtons #a1:hover
{
    padding: 24px;

}
.headFooterButtons #a2:hover
{
    padding: 24px;
}
.headFooterButtons #a3:hover
{
    padding: 24px;
}
.Home .Slide_1 .border-bottom , .Home .Slide_2 .border-bottom, .Home .Slide_3 .border-bottom
{
    border-bottom: solid 1px white !important;
}
.j
{
    width: 48%;
}
.bg-gold
{
    background-color:rgb(186, 156,92);
}
.bg-darkGray
{
    background-color: rgb(48,49,50);
}
.bg-Gray
{
    background-color: rgb(121,122,122);
}
.bg-lightGray
{
    background-color:rgb(228,228,228);
}
.above_nav
{
    background-color:rgb(186, 156,92);    
}
.Home .Slide_1 .navbar-brand , .Home .Slide_2 .navbar-brand  ,.Home .Slide_3 .navbar-brand ,.navbar-brand i
{
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.1rem;
    font-weight: 900 !important;
    letter-spacing: 3px !important;
    line-height: 0.2rem !important;
}
.Home .NavLinks 
{
    font-size: 0.875rem !important;
    line-height: 1.56rem !important;
    font-weight: 400 !important; 
    color: rgb(55, 75, 61) !important;
}
.Home .Desc_H h1
{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    font-size: 4.4rem !important;
    color: white !important;
    line-height: 2.25rem !important;
    margin-bottom: 2.3rem !important;
}
.nav-link 
{
font-size: 0.875rem !important;
font-weight: 600 !important;
}
.clr
{
    clear: both;
}
.home .carousel-control-prev,.home .carousel-control-next
{
height: 50px !important;
width: 50px !important; 
top: 50%;
}
#NavSec
{
    position: relative;
    left: 0;
    top: 0;
    z-index: 9999999999;
}
/********************/

/******Search********/
.search
{
    background-color: rgb(48,49,50);
    box-sizing: border-box;
    direction: rtl !important;
    font-family: 'Open Sans', sans-serif;
}
.search ::-webkit-input-placeholder { 
    color: white;
  }
  
  .search :-ms-input-placeholder { 
    color: white;
  }
  
  .search::placeholder {
    color: white;
  }
  .search,.search button 
  {
      font-size: 1.2rem !important;
  }
/********************/
/*Sec1*/
.Sec1
{
  box-sizing: border-box;
  direction: rtl !important;
  font-family: 'Open Sans', sans-serif;
}
.Sec1 .content h1,.Sec1 .content i
{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(48,49,50) ;
    margin:1rem 0rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content i
{
    font-size: 1.5rem;
    border-color:rgb(48,49,50) !important;
    border-width:0.2rem !important;
    transition: border-color 0s 0s,color 0s 0s;
}
.Sec1 .content p
{
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
}
.Sec1 .content a
{
	
    cursor: pointer;
    transition: color 0s 0s;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content .contentLine
{
    border:solid 1px rgb(48,49,50) !important;
    margin-top: 1rem;
}
.Sec1 .content-item:hover a 
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover h1
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover i
{
    color: rgb(0,96,44);
    border-color: rgb(0,96,44) !important;
}
.Sec1 .content > h1
{
    color: rgb(0,96,44);
}
.adTop
{
    color: rgb(0,96,44);
    background-color: rgb(195,195,196);
}
.adTop h1,.adTop i
{
    color: rgb(0,96,44) !important;
}
.adTop h1
{
    font-size: 0.9rem ;
    font-weight: 400 !important;
}
.adBottom
{
    background-color: rgb(228,228,228);
}
@media screen
{
    .ad
    {
        margin-top: 1rem;
    }

}.Sec1 .content h1,.Sec1 .content i
{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(48,49,50) ;
    margin:1rem 0rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content i
{
    font-size: 1.5rem;
    border-color:rgb(48,49,50) !important;
    border-width:0.2rem !important;
    transition: border-color 0s 0s,color 0s 0s;
}
.Sec1 .content p
{
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
}
.Sec1 .content a
{
    cursor: pointer;
    transition: color 0s 0s;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.0909090909;
    transition: color 0s 0s;
}
.Sec1 .content .contentLine
{
    border:solid 1px rgb(48,49,50) !important;
    margin-top: 1rem;
}
.Sec1 .content-item:hover a 
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover h1
{
    color: rgb(0,96,44);
}
.Sec1 .content-item:hover i
{
    color: rgb(0,96,44);
    border-color: rgb(0,96,44) !important;
}
.Sec1 .content > h1
{
    color: rgb(0,96,44);
}
.adTop
{
    color: rgb(0,96,44);
    background-color: rgb(195,195,196);
}
.adTop h1,.adTop i
{
    color: rgb(0,96,44) !important;
}
.adTop h1
{
    font-size: 0.9rem ;
    font-weight: 400 !important;
}
.adBottom
{
    background-color: rgb(228,228,228);
}
@media screen
{
    .ad
    {
        margin-top: 1rem;
    }

}
/**/

body
{
    box-sizing: border-box;
}
/**************End Sec1****************/

/*************Sec 2********************/
.sec2
{
  box-sizing: border-box;
  direction: rtl !important;
  font-family: 'Open Sans', sans-serif;
 text-align:right !important;
}
.sec2 .new 
{
   border-bottom: 1px bottom black;
}
.sec2 .new img
{
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}
.sec2 .new p
{
    color: rgb(0,96,44);
    font-size: 1.1rem;
}
.sec2 a
{
    text-decoration: none;
    color: rgb(186, 156,92) ;
    font-size: 1.2rem;
} 
.sec2Footer p
{
    color: rgb(0,96,44);
    font-size: 1.2rem;
}
.sec2Head i,.sec2Head p
{
    color: rgb(186, 156,92) ;
    font-size: 1.4rem;
}
/*************end sec2*****************/


/***********Books show*****************/
.books
{
    background:url('../images/slider1.jpg');
    background-size: 100% 100%;
    box-sizing: border-box;
    direction: rtl !important;
    font-family: 'Open Sans', sans-serif;
}
.booksDarker
{
    background-color: rgba(0,0,0,0.85);
}
.books p
{
    color: rgb(55, 75, 61);
    margin-top: 1rem;
    font-size: 1.5rem;
}
.books .borderL
{
    border-left: 1px solid black;
}
.books .bookItemLayer
{
    color: white;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top:100%;
    background-color: rgb(186, 156,92);
    transition: top 0.2s 0s;
}
.bookItem
{
    position: relative;
    overflow: hidden;
    background-color: white;
}
.bookItem:hover .bookItemLayer
{
    top:0%;
}
.bookItemLayer h1
{
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.0909090909 rem;
    padding: 1rem 0rem;
}
.bookItemLayer i
{
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
.bookItemLayer h3
{
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 0.2rem;
}
.bookItemLayer h2
{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.bookItemLayer button
{
    font-size: 1.2rem;
    font-weight: 800;
}
.aboveBooks a,.aboveBooks i
{
    font-size:1.6rem ;
    color: rgb(55, 75, 61);
}
.aboveBooks a
{
    text-decoration: none;
    transition: color 0s 0s , background-color 0s 0s;
}
.aboveBooks i
{
    padding-top: 0.3rem;
}
.aboveBooks a:hover
{
color:white;
background-color:rgb(186, 156,92);
}


/**************************************/





/********************************************
			COUNTER UP SECTION
**********************************************/
#counterjs{
    text-align: center;
    color: white;
}

.count-p{
    margin-top: 25px;
    /* border-bottom: 1px solid white; */
}
.count-p p::before {
    content: "";
    height: 1px;
    width: 50px;
    background-color: 
    #fff;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 25px;
    margin: auto;
}


.count-bg{
    background-color: rgb(186, 156,92);
}

.count-part{
    background-color: rgb(156, 145, 84);
    height: 100%;
}

.circle-part{
    background-color: rgb(188, 180, 139);
    border-radius: 50%;
    height: 60%;
    width: 60%;
    padding: 20px;
}

.circle-bg{

    background-color: rgb(208,188,144);
    height: 60%;
    width: 60%;
    border-radius: 50%;
    text-align: center;
    padding: 0px;   
}

.num-board{

    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin-left: 30px;
}

.num-board span{
    padding-top: 20px;
}
/********************************************
		END	COUNTER UP SECTION
**********************************************/

/*************************************
*BOOK FLIP
***************************************/
.flip-book{
    position: relative;
    background: white;
    direction: rtl;
    text-align: right;
}
.b-red{
    width: 100px;
    height: 662px;
    background-color: rgb(164,33,33);
    position: absolute;
    left: 720px;
    top: 110px;
    z-index: 1;
}



#b-main-head{
    color: rgb(0,96,44);
    text-align: center;
}
.all-book{
    position: relative;
    margin: auto;
    width: 1020px;
    height: 690px;
    background-image: url("../images/leather-pettern.png");
}
.b-layer{
    position: absolute;
    width: 960px;
    height: 630px;
    top: 30px;
    left: 30px;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.75);

}
.scene {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    width: 480px;
    height: 630px;
    margin:  0px;
    perspective: 2000px;
  }
  .book {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    
    transition: 1.5s transform;
    transform-style: preserve-3d;  
    transform-origin: left center;
  }
  .front,
  .back {
    position: absolute;
    padding: 30px 40px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
    background:white;
    border-left:  1px solid gainsboro;
    border-right:  1px solid gainsboro;

  }

  .back {
    transform: rotateY(-180deg);
    border-left:  5px solid gainsboro;
  }
  
  .front{
    border-right:  5px solid gainsboro;

  }
 

  .page.active {
    z-index: 22;
  }
  .page.flipped {
    transform: rotateY(-180deg);
  }
  .page.flipped:last-of-type {
    z-index: 22;
  }
  
#prevBtn{
    position: absolute;
    bottom: 1px;
    left: -99%;
}

#nextBtn{
    position: absolute;
    bottom: 1px;
    right: 3px;
}

#nextBtn:hover 
, #prevBtn:hover{
    background-color: black;
    color: white;
}

.p-head1{
    color:rgb(0,96,44) ;
}

.p-head2{
    color: rgb(186, 156,92);

}

.readMore{
    text-align: center;
}
.readMore a{
    color:rgb(0,96,44) ;
}

.b-decore{
    border-right: 1px solid gray;
    margin-right: 1px;
    height: 630px;
}

/*************************************
* END BOOK FLIP
***************************************/


/*************************************
*MEMBERSHIP
***************************************/

#membership{
    text-align: right;
}
#member-main-head{
    text-align: center;
    color: rgb(0,96,44);
}

#membership i{
    padding-right: 10px;
    color: white;
    
}

.inputForm{
    background-color: rgb(186, 156,92);
}

.signinBtn{
    background-color: rgb(0,96,44);
    text-align: center;
    width: 150px;
    color: white;
}


.in{
    background-color: rgb(186, 156,92);
    border: none;
    width: 210px;
    color: white;
    text-align: right;
}


.inputForm select {
    direction: rtl;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/images/arrdwn.png) no-repeat; */
  }
/*************************************
* END MEMBERSHIP
***************************************/



/********************************************
		CONTACT US MAP
**********************************************/

.lightbox-container
{
    background-color: rgba(0,0,0,0.55);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform: scale(0,0);
    z-index: 99;
}

.lightbox-item
{
    width: 50%;
    height:550px;
    background-size: 100% 100%;
    position: relative;
    transform: scale(0,0);
    transition: transform 1s;
}

.lightbox-item i, .contact-h i
{
    cursor: pointer;
    font-size: 20px;
    color: white;
}

#close
{
    position: absolute;
    top: 10px;
    right: 10px;
}

#prevOut{
    position: absolute;
    bottom: 10px;
    left: 30px;
}
#nextOut{
    position: absolute;
    bottom: 10px;
    right: 30px;
}
#contactUS{
    text-align: center;
}

.contact-h{
    height: 400px;
    margin: 0;
    padding: 0;
}

.contact-h img{
    width: 100%;
    height: 100%;
}

.location{
    position: relative;
}


#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    left: 0;
    right: 0;
 }

 .containContact{
     position: relative;
 }
 .infoCircle{
     background-color: white;
     position: absolute;
     top: 50px;
     left: 39.5%;
     text-align: center;
     height: 300px;
     width: 300px;
     border-radius: 50%;
 }
.contactInfo{
    margin-top: 40px;
}

.contactInfo i{
    color: rgb(0,96,44);
    margin-top: 20px;
}

.infoP{
    margin-top: 10px;
    margin-bottom: 40px;
}
.infoH{
    position: relative;
}
.h-line::before{
    content: "";
    height: 1px;
    width: 200px;
    background-color: black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    margin: auto;
}

.h-line::after{
    content: "";
    height: 1px;
    width: 200px;
    background-color: black;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin: auto;
}

.contact-h,.location{
    background-color: rgb(208,188,144);
}

/********************************************
		END	CONTACT US MAP
**********************************************/

/*************************************
* END FOOTER
***************************************/
.footer{
    background-color: rgb(186, 156,92);
    color: white;
    height: 50px;
    width: 100%;
    padding-top: 10px;
}
.social-icon{
    margin-right: 600px;
}

.social-icon i{
    padding-right: 10px;
}

.f-copyrights p{
    font-size: 12px;
}

/*************************************
* END FOOTER
***************************************/
